<!-- The index route describes a lot of the functionality here, read it first. -->
<section>
  <!-- We have two headers - one for desktop and one for mobile. This is the mobile header. -->
    <div class="d-lg-none inner-feed hush-footer text-light">
      <div class="row">
        <div class="col flex-row flex-wrap align-items-baseline justify-content-center pt-3">
          <!-- Dynamic icons. -->
            <% allUsers.forEach(function(user) { %>
              <% if (user.username === profileName) { %>
                <i class="card-image-top fas fa-fw fa-5x pl-4 pt-3 <%= user.icon %>"></i>
              <% } %>
            <% }) %>
            <h4 class="mt-3 pl-4"><%= profileName %>'s profile</h4>
        </div>
        <!-- Dynamic buttons. -->
        <div class="col d-flex flex-column flex-wrap align-items-baseline justify-content-center mt-3">
            <a class="btn btn-outline-light mb-3" href="/<%= profileName %>/followers">Their Followers</a>
            <a class="btn btn-outline-light mb-3" href="/<%= profileName %>/following">Their Followees</a>
            <% bool = false %>
            <% if (session != undefined) { %>
            <form class="" action="/<%= profileName %>/follow" method="POST">
              <button class="btn btn-outline-light">
                  <% session.following.forEach(function(user) { %>
                    <% if (user.equals(user_id)) { %>
                      <% bool = true%>
                    <% } %>
                  <% }) %>
                  <% if (bool) { %>
                    Unfollow
                  <% } else { %>
                    Follow
                  <% } %>
              </button>
            </form>
            <% } %>
        </div>
      </div>
    </div>
  </section>
<section>
  <!-- Desktop header. -->
    <div class="d-none d-lg-block inner-search hush-footer text-light">
      <div class="row">
        <div class="col d-flex flex-row flex-wrap align-items-baseline justify-content-start ml-5">
            <% allUsers.forEach(function(user) { %>
              <% if (user.username === profileName) { %>
                <i class="card-image-top fas fa-fw fa-5x pl-4 pt-3 <%= user.icon %>"></i>
              <% } %>
            <% }) %>
          <h4 class="mt-4 pl-4"><%= profileName %>'s profile</h4>
          <a class="ml-3 text-light align-self-baseline mb-5 h5" href="/<%= profileName %>/followers">Their Followers</a>
          <a class="ml-3 text-light align-self-baseline h5" href="/<%= profileName %>/following">Their Followees</a>
          <% bool = false %>
          <% if (session != undefined) { %>
          <form class="align-self-center mb-3 mt-4" action="/<%= profileName %>/follow" method="POST">
            <div class="mt-2">
              <button class="btn btn-hushlink ml-3 button-text-size">
                  <% session.following.forEach(function(user) { %>
                    <% if (user.equals(user_id)) { %>
                      <% bool = true%>
                    <% } %>
                  <% }) %>
                  <% if (bool) { %>
                    Unfollow
                  <% } else { %>
                    Follow
                  <% } %>
              </button>
            </div>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </section>
<div class="row no-gutters">
    <div class="col-lg-2 sidebar d-none d-lg-block">
      <div class="inner-profile">
        <div class="row d-flex justify-content-center">
            <div class="profile-card card col-8 pt-2">
                <% if (session) { %>
              <i class="card-image-top fas fa-fw fa-5x mr-4 mt-2 text-center <%= session.icon %>"></i>
              <p class="pt-2 card-title"><a href="/<%= username %>">Hello @<%= username %>!</a></p>
              <a class="btn btn-outline-light mb-3" href="/posts">Your Posts</a>
              <a class="btn btn-outline-light mb-3" href="/followers">Followers</a>
              <a class="btn btn-outline-light mb-3" href="/following">Following</a>
              <div class="dropdown">
                  <button class="btn btn-outline-light btn-block dropdown-toggle mb-3" type="button" id="iconDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change Icon
                  </button>
                  <div class="dropdown-menu" aria-labelledby="iconDropdown">
                      <form action="/<%= session._id %>/fa-chess/icon" method="POST">
                        <button class="dropdown-item" type="submit">Chess</button>
                      </form>
                      <form action="/<%= session._id %>/fa-chess-king/icon" method="POST">
                        <button class="dropdown-item" type="submit">King</button>
                      </form>
                      <form action="/<%= session._id %>/fa-chess-queen/icon" method="POST">
                        <button class="dropdown-item" type="submit">Queen</button>
                      </form>
                      <form action="/<%= session._id %>/fa-chess-knight/icon" method="POST">
                        <button class="dropdown-item" type="submit">Knight</button>
                      </form>
                      <form action="/<%= session._id %>/fa-chess-rook/icon" method="POST">
                        <button class="dropdown-item" type="submit">Rook</button>
                      </form>
                      <form action="/<%= session._id %>/fa-chess-bishop/icon" method="POST">
                        <button class="dropdown-item" type="submit">Bishop</button>
                      </form>
                      <form action="/<%= session._id %>/fa-chess-pawn/icon" method="POST">
                        <button class="dropdown-item" type="submit">Pawn</button>
                      </form>
                    </div>
                </div>
                <% } else { %>
                  <p class="pt-2 card-title"><a href="/<%= username %>">Hello new person! Would you like to join us?</a></p>
                  <a class="btn btn-outline-light mb-3" href="/signup">Sign Up</a>
                  <a class="btn btn-outline-light mb-3" href="/login">Login</a>
                <% } %>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="inner-profile">
        <ul class="list-unstyled">
          <% hushes.forEach(function(hush) { %>
          <li class="px-4 media individual-post">
              <% allUsers.forEach(function(user) { %>
                <% if (user._id.equals(hush.user_id)) { %>
                  <i class="fas fa-fw fa-5x mr-4 mt-2 <%= user.icon %>"></i>
                <% } %>
              <% }) %>
            <div class="media-body">
              <div class="row">
                <div class="col-3">
                  <a class="hushlink-link d-block h5 no-wordwrap" href="/<%= hush.username %>">@<%= hush.username %></a>
                  <div class="d-lg-none">
                    <a class="hushlink-link" href="<%= hush.hush %>"><span class="concat-link"><%= hush.hush %></span></a>
                    <p class="mt-2 no-wordwrap"><%= moment(hush.created_at).fromNow() %> </p>
                  </div>
                  </div>
                  <div class="col-9 d-none d-lg-block ml-auto">
                    <a id="hush-link" class="hushlink-link" href="<%= hush.hush %>"><span class="concat-link"><%= hush.hush %></span></a>
                    <p class="mt-4 pt-1"><%= moment(hush.created_at).fromNow() %> </p>
                  </div>
                </div>
              </div>
          </li>
          <hr>
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 d-none d-lg-block sidebar">
        <div class="inner-profile">
            <div class="row d-flex justify-content-center">
                <div class="profile-card card col-8 pt-3">
                  <div class="row">
                      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                          <a class="btn btn-outline-light mb-3 center-text btn-block" href="/users">All Users</a>
                          <h6 class="mb-3">Random Users:</h6>
                          <% bool = false %>
                          <% randomUsers.forEach(function(user) { %>
                            <% allUsers.forEach(function(aUser) { %>
                              <% if (aUser._id.equals(user._id)) { %>
                                <i class="fas fa-fw fa-3x mb-2 <%= aUser.icon %>"></i>
                              <% } %>
                            <% }) %>
                          <a class="ml-1 h5 d-block" href="/<%= user.username %>"><%= user.username %></a>
                          <% if (session) { %>
                          <% session.following.forEach(function(id) { %>
                            <% if (id.toString() === user._id.toString()) { %>
                            <% bool = true } %>
                          <% }) %>
                          <% } %>
                          <% if (session._id.equals(user._id)) { %>
                            <button class="mb-3 btn btn-outline-light btn-block"><a href="/<%= user.username %>">Profile</a></button>
                          <% } else if (bool) { %>
                            <form class="btn-block" action="/<%= user.username %>/follow" method="POST">
                              <button class="mb-3 btn btn-outline-light btn-block">Unfollow</button>
                            </form>
                          <% } else { %>
                            <form class="btn-block" action="/<%= user.username %>/follow" method="POST">
                              <button class="mb-3 btn btn-outline-light btn-block">Follow</button>
                            </form>
                          <% } %>
                        <% }) %>
                        <p class="align-self-start"><small>&copy;2018 Stephen Jackson</small></p>
                        <span class="align-self-start d-inline-block mb-2"><a href="https://github.com/stephjackson"><small>Github </small></a>
                          <a href="https://www.linkedin.com/in/steph-jackson/"><small>LinkedIn</small></a></span>
                </div>
              </div>
        </div>
      </div>
  </div>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div>
      <%= errorMessage %>
    </div>
  <% } %>

  <script>
    // var fa = ['fa-chess', 'fa-chess-rook', 'fa-chess-queen', 'fa-chess-pawn', 'fa-chess-knight', 'fa-chess-king', 'fa-chess-bishop']
    // function randomIcon() {
    //   return fa[parseInt(Math.random() * fa.length)];
    // }

    // function changeIcon() {
    //   let icons = document.querySelectorAll('.fas');
    //   for (var i = 1; i < icons.length; i++) {
    //     icons[i].classList.add(randomIcon());
    //   }
    // }
    
    // changeIcon();
  </script>